* {
	/*border: 2px solid red;*/
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
}

body {
	background-color: rgba(181,217,214,.5);
	min-height: 800px;
	position: relative;
}

/**
 *  SPECIAL ICONS
 */
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?58bymc');
	src:  url('../fonts/icomoon.eot?58bymc#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?58bymc') format('truetype'),
		url('../fonts/icomoon.woff?58bymc') format('woff'),
		url('../fonts/icomoon.svg?58bymc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gift:before {
	content: "\e900";
}
.icon-user:before {
	content: "\e971";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-close:before {
	content: "\ea0d";
}

/**
 *  MAIN PAGE
 */
a {
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}

.normal-button {
  display: inline-block;
  /*border: 2px solid red;*/
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 10px 20px;
  transition: 1s ease;
}

.normal-button-background {
  position: absolute;
  top: 0;
  left: -250%;
  width: 400%;
  height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#754913+0,a07034+25,ecc494+50,a07034+75,754913+100 */
	background: -moz-linear-gradient(left,  #754913 0%, #a07034 25%, #ecc494 50%, #a07034 75%, #754913 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #754913 0%,#a07034 25%,#ecc494 50%,#a07034 75%,#754913 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #754913 0%,#a07034 25%,#ecc494 50%,#a07034 75%,#754913 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#754913', endColorstr='#754913',GradientType=1 ); /* IE6-9 */
	transition: all 1s ease;
  z-index: -1;
}

.normal-button:hover {
  transform: rotateY(-10deg);
  transition: 1s ease;
}
.normal-button:hover > .normal-button-background {
  left: 0;
  transition: 1s ease;
}

.container {
	width: 1000px;
	position: relative;
}

#header-image {
	background-image: url('../img/book-and-cup.jpeg');
	background-size: cover;
	/*border: 2px solid blue;*/
	position: relative;
	height: 100vh;
}

.container-logo {
	/*border: 1px solid rgba(251,254,254,.5);;*/
    background-color: rgba(251,254,254,.1);
    border-radius: 12.5vh;
    bottom: 5vh;
    height: 20vh;
    opacity: .4;
    overflow: hidden;
    position: absolute;
    right: 5vw;
    transform: rotateX(-20deg);
    width: 20vh;
    z-index: 100;
}

.container-logo img {
	height: 100%;
	line-height: 140px;
	text-align: center;
	width: 100%;
}

header {
	top: 0;
	height: 50vh;
	position: absolute;
	width: 100vw;
}

header .titles {
	bottom: -10vh;
    left: 6vw;
    position: absolute;
}

.titles > * {
	color: white;
	/*font-family: 'Passion One', cursive;*/
	text-align: center;
}

.main-title {
	font-size: 50px;
	margin-top: 15px;
}

.secondary-title {
	font-size: 20px;
}

.container-menu {
	sbackground: #ecc494; /* Old browsers */
	sbackground: -moz-linear-gradient(left,  #ecc494 31%, #a07034 65%, #a07034 65%, #754913 100%); /* FF3.6-15 */
	sbackground: -webkit-linear-gradient(left,  #ecc494 31%,#a07034 65%,#a07034 65%,#754913 100%); /* Chrome10-25,Safari5.1-6 */
	sbackground: linear-gradient(to right,  #ecc494 31%,#a07034 65%,#a07034 65%,#754913 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	sfilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc494', endColorstr='#754913',GradientType=1 ); /* IE6-9 */
	padding: 1px;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 200;
	/*sdisplay: none;*/
}
.menu-nav {
	background-color: #754913;
	position: relative;
	top: 50px;
}

.menu-nav ul {
	float: right;
}

.menu-nav .menu-item {
	border-radius: 10px 10px 0 0;
	border-top: 4px solid rgba(0,0,0,0);
	display: inline-block;
	padding: 10px 0px;
}

.menu-nav .menu-item:before {
	font-size: 25px;
	line-height: 10px;
	color: white;
	content: "|";  /* □ */
	/*margin-right: -10px;*/
}

.menu-nav .menu-item:first-child:before {
	content: none;  /* □ */
	/*margin-right: -10px;*/
}

.menu-nav .menu-item:hover span{
	border-bottom: 4px solid white;
	background-color: #C3955C;
	transition: all .5s ease; 
}

.menu-nav .menu-item a {
	padding: 15px;
}

.menu-nav .menu-item a span {
	font-size: 1.5em;
}

.icon-a {
	font-size: 20px;
	padding-right: 15px;
}

.register {
	text-align: center;
	/*line-height: 180px;*/
}

.register > * {
	display: inline-block;
	margin: 50px;
	position: relative;
    vertical-align: middle;
}

.register a * {
	font-size: 1.5rem;
}

.register .icon-gift {
    color: #82B7B3;
    font-size: 2em;
	position: absolute;
    right: -10px;
    transform: rotate(40deg);
    top: -15px;
}

footer {
	background-color: #0D1D32;
	bottom: 0;
	color: white;
	padding: 8px;
	position: relative;
	width: 100%;
	z-index: 200;
}

footer > div {
	margin: 5px auto;
	text-align: center;
}

footer .contact {
	text-decoration: underline;
}

.contact-button {
	display: inline-block;
}

.contact-button img{
	height: 35px;
	width: 35px;
}

.contact-button:hover img{
	transform: rotateY(360deg);
	transition: all .5s ease;
}








